* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}